.display_h1 {
  display: block;
  margin: 0 auto;
  font-size: 4.5rem;
  font-weight: 700;
  align-self: center;
  text-align: left;
}
.display_albumspage_title {
  display: block;
  font-size: 5rem;
  margin: 0 10rem;
  margin-bottom: 3rem;
  font-weight: 700;
  align-self: center;
  text-align: center;
  /* color: #c6439a; */
  border-bottom: 2px solid #c6439a;
}
/* 00000056 */
.display_artistname {
  display: block;
  margin: 1.5rem 0;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.display_username {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}
.display_titles_pages {
  font-family: "Style Script", cursive;
  display: block;
  margin: 2rem 3rem;
  margin-bottom: 0;
  text-align: left;
  font-size: 6rem;
  font-weight: 700;
  color: #c6439a;
}
/*
Fonts
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
/* font-family: "Style Script", cursive; **
  */
