.display_h1 {
  display: block;
  margin: 0 auto;
  font-size: 6.5rem;
  font-weight: 700;
  align-self: center;
  text-align: left;
}
.display_albumspage_title {
  font-family: "Style Script", cursive;
  display: block;
  font-size: 2.7rem;
  font-weight: 750;
  align-self: center;
  text-align: left;
  border-bottom: 1px solid #c6439a;
}
/* 00000056 */
.display_artistname {
  display: block;
  margin: 1.5rem 0;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.display_username {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 1.8rem;
}
.display_titles_pages {
  font-family: "Style Script", cursive;
  display: block;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  color: #c6439a;
}
.display_subtitles_pages {
  display: block;
  padding: 0 4rem;
  font-size: 3rem;
  font-weight: 700;
}
.single_genrepage_title {
  display: block;
  width: 100%;
  padding: 0 6rem;
  font-size: 7rem;
  font-weight: 700;
  align-self: center;
  text-align: left;
}
/*
Fonts
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
/* font-family: "Style Script", cursive; **
  */
