.genres_container {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-column-gap: 6rem;
}

.genre_info_container {
  height: 20rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: linear-gradient(to top, #bb4092, #1d2434);
  box-shadow: 0px 1px 1rem #bb4092;
}
