.dashboard {
  width: 22rem;
  height: 100%;
  flex: 0 0 17%;
  background-color: #1d2434;
  padding: 4rem 0rem 0rem 0rem;
  overflow: scroll;
}
.dashboard::-webkit-scrollbar {
  width: 0px;
}
.dashboard__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.dashboard__item {
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
.dashboard__item::after {
  position: absolute;
  right: 0;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.4s;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(1, #bd43c6),
    color-stop(0.03, #5fa8f2)
  );
}
.dashboard__item--active {
  color: #c6439a;
  position: relative;
}
.dashboard__item--active::after {
  transform: scaleY(1);
}
.dashboard__item:hover {
  color: #c6439a;
}
.dashboard__icon {
  width: 2rem;
  margin-right: 2rem;
}

.dashboard__link {
  font-size: 1.4rem;
  font-weight: 600;
  color: currentColor;
}
.dashboard__link--active {
  font-weight: 700;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-left: 7rem;
  margin-bottom: 3rem;
  border-radius: 25px;
  padding: 1rem 1rem;
  width: 7rem;
  height: 1rem;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(1, #bd43c6),
    color-stop(0.03, #5fa8f2)
  );
}
/*  */
