.avatar_container {
  display: flex;
  align-items: center;
}
.small_avatar {
  height: 5rem;
  border-radius: 50%;
}
.medium_avatar {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
.L_avatar {
}
.Xl_avatar {
}
