.avatar_container {
  margin: 0 auto;
  height: max-content;
  align-self: center;
}
.small_avatar {
  height: 5rem;
  border-radius: 50%;
}
.medium_avatar {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
.extra_medium_avatar {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
.Square_avatar {
  height: 20rem;
  width: 20rem;
}
.Xl_avatar {
}
