.card_genre {
  min-width: 18rem;
  min-height: 18rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #bb4093;
  box-shadow: -10px 10px 7px #0b0f16;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card_genre:hover {
  transition: all 0.4s;
  transform: translate(5px, -10px);
  background-color: #bb40923f;
}
.link_genre {
  color: white;
  text-decoration: none;
}
.name_genre {
  font-size: 3rem;
}
