.chartPopularArtists__title {
  margin: 10px;
  margin-bottom: 0;
  font-size: 3.4rem;
  font-weight: 700;
}

.container_artists_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 10px;
  overflow: visible;
}
.item_artist {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}

.artist_info {
  display: flex;
}
.artist_info_name {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.artist_followers {
  font-size: 1.2rem;
  font-weight: 400;
}
