.slider_container {
  margin: 3rem auto;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
}

.slider_items_container {
  width: 100%;
  overflow-x: scroll;
  transition: transform 0.2s ease-in-out;
}
.slider_items_container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.slider_items {
  width: 100%;
  display: flex;
  transition: transform 0.2s ease-in;
}
.slider_arrow {
}
.arrow {
  margin: 0 10px;
  font-size: 2rem;
  color: white;
  transition: all 0.2s ease-out;
}

.arrow:hover {
  cursor: pointer;
  color: #bd43c6;
}

@media (max-width: 700px) {
  .arrow {
    font-size: 1rem;
  }
}
