.App {
  text-align: center;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: auto;
  background-color: #1d2434;
}
.App::-webkit-scrollbar {
  width: 0px;
}
.main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
