*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --error-color: #fe4066;
  --main-color: #1d2434;
  --second-color: #c6439a;
  --third-color: #5fa8f2;
}
html {
  font-size: 62.5%; /* 1rem = 10px  62.5%  */
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  line-height: 1.6;
}
body::-webkit-scrollbar {
  width: 0px;
}
