.main_container {
  flex: 1;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.item {
  /* padding: 20px; */
  background-color: #00000056;
  color: white;
  /* text-align: left; */
}
<<<<<<< HEAD
.item_title {
  /* margin-top: 0; */
  margin-left: 0;
  height: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.item__title_left {
  padding-right: 75%;
}
.item__title_right {
  padding-right: 50%;
}
=======
>>>>>>> e6d751aa734138a31641e415d9164b632332f49e
