.main_container {
  flex: 1;
  height: 90%;
  margin: 0.5rem;
  background-color: #1d2434;
  color: white;
  border: 1px solid #00000056;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
}
.item {
  margin: 5px;
  /* padding: 20px; */
  background-color: #00000056;
  color: white;
  display: flex;
  flex-direction: column;
  /* text-align: left; */
}
.item_title {
  /* margin-top: 0; */
  margin-left: 0;
  height: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.item__title_left {
  padding-right: 75%;
}
.item__title_right {
  padding-right: 50%;
}
