.mediaplayer_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex: 1;
  background-color: #131720;
  box-shadow: 5px -5px 10px #0b0f16;
}
.mediaplayer_artist_info {
  color: white;
  font-size: 2rem;
  width: 20%;
  display: flex;
}

.mediaplayer_artist_info p {
  font-size: 1.5rem;
}

.mediaplayer_artist_img {
  width: 40%;
  height: 100%;
  object-fit: contain;
}
.mediaplayer_song_info {
  padding: 2rem 1rem;
  text-align: left;
  flex: 1;
}

.media_player_songcontrols {
  width: 65%;
  display: block;
  font-size: 1.5rem;
}

.audioplayer_icons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}
.mediaplayer_progressbar {
  display: flex;
  color: blanchedalmond;
  justify-content: center;
  align-items: center;
}
progress {
  width: 92%;
  height: 0.2rem;
  margin: 0 auto;
  -webkit-appearance: none;
}
progress::-webkit-progress-value {
  background: #e21cb5;
}

.mediaplayer_volumecontrols {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

div #volume {
  width: 50%;
  height: 0.2rem;
  margin-right: 1rem;
  background-color: white;
}
